@import 'variables.scss';
@import 'mixins.scss';

.form-container{
    flex-basis: 66.66%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include response(phone){
         flex-basis: 1;
    }

}
.cardform{
    display: flex;
    flex-direction: column;
    width:40rem;
    // margin-left:32rem;

    @include response(tab-port){
        margin-left: 12rem;
    }


    @include response(phone){
        margin-left:0;
    }
}

.formgroup{
    display: flex;
    width:100%;
    justify-content: space-between;

    &>.formfield{
        width:50%;
    }
}

.formfield{
    display: flex;
    flex-direction: column;
    margin:1rem 0;


    &__label{
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 1rem;
        color:$veryDarkViolet;
    }
    &__input{
        font-family: monospace;
        padding: 1rem 1.5rem;
        border-radius: 5px;
        border: solid 1px $light_grayish_violet;
        font-size: 1.8rem;

        &::placeholder{
            font-family:'Space Grotesk', 'san serif';
            color:$light_grayish_violet;
        }
    }

    // .cardnumber{
    //     display:flex;
    //     margin-right:2rem;

    //     &-number{
    //         margin-right: 2.5px;
    //     }
    // }

    // &:last-child{
    //     // flex-basis: 45%;
    // }
}

.formfield__group{
    display: flex;

    // flex: 0 1 auto;
}

.date{
    width:25%;
    margin-right: 1rem;

    &:last-child{
        // margin-right: 2.5rem;
    }
}
.cvc{
    width:auto;
}

.btn{
    padding: 1rem 1.5rem;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-family:'Space Grotesk', 'san serif';
    font-weight: 500;

    &__black{
        color:$white;
        background-color: $veryDarkViolet;

        &:hover{
            cursor: pointer;
            background-color: $veryDarkVioletHover;
        }

    }
    &__black.success{
        width: 100%;
        padding: 1.5rem;
    }

    &:disabled, &[disabled]{
        cursor: auto;
        background-color: $veryDarkViolet;
    }
}



// SUCCESS BOX
.successBox{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include response(tab-port){
        margin-left: 20rem;
        width:70%;
    }

    @include response(phone){
        margin-left: 0;
        width:70%;
    }
}
.successCircle{
    display: block;
    width:6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid blue;
    background-image:$secondary;
    margin-bottom: 3rem;

    @include response(phone){
        width:8rem;
        height:8rem;
    }
}
.successMessage{
    &_big{
        font-family: inherit;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2.5rem;
        letter-spacing: 1.5px;

        @include response(phone){
           font-size: 3rem;
        }
    }
    &_small{
        margin-bottom: 2rem;
        color:$greyText;
    }
}



.hidden{
    display: none;
}

.input-error{
    color: $errorcolor;
    font-size: 1.2rem;
    margin-top: .5rem;
}

