// Typography

$fsize: 1.8rem;

//Primary

$primary: linear-gradient (active input border hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
$errorcolor:hsl(0, 100%, 66%);

//Neutral
$white:hsl(0, 0%, 100%);
$light_grayish_violet: hsl(270, 3%, 87%);
$darkGrayishViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);

